body {
  margin: 0;
  min-width: 320px;
  font: 16px/20px "Source Sans Pro", sans-serif;
}

button, input, label {
  cursor: pointer;
}

input:invalid {
  border-color: red;
}
input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:valid {
  border-color: green;
}
input:valid:not(:placeholder-shown) {
  border-color: green;
}

.container {
  max-width: 960px;
}

h1 {
  font-size: 32px;
  line-height: 32px;
  color: #010101;
  font-weight: 700;
  letter-spacing: -1.5px;
}
@media (max-width: 990px) {
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 22px;
  line-height: 24px;
  color: #010101;
  font-weight: 700;
  letter-spacing: -1px;
}
@media (max-width: 990px) {
  h2 {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 16px;
  }
}

p {
  font-size: 20px;
  line-height: 24px;
  color: #313841;
  font-weight: 400;
  letter-spacing: -0.3px;
}
@media (max-width: 990px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  p {
    font-size: 14px;
  }
}

small {
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  font-weight: 400;
  display: inline-block;
  letter-spacing: -0.5px;
}
@media (max-width: 990px) {
  small {
    font-size: 14px;
  }
}

.navbar {
  background: #fcdb00;
  padding: 50px;
  margin: 0;
}
@media (max-width: 576px) {
  .navbar {
    padding: 30px;
  }
}
.navbar.sticky {
  position: fixed;
  width: 100%;
  box-shadow: 3px 1px 0.99px 0.01px rgba(0, 0, 0, 0.05);
  padding: 50px;
  background: #fcdb00;
  left: 0;
  top: 0;
  z-index: 2;
}
.navbar.sticky a {
  font-size: 0;
}
.navbar.sticky .nav-link {
  font-size: 21px;
}
.navbar-brand {
  line-height: 20px;
  color: #010101;
  font-weight: 700;
  font-size: 0;
}
.navbar-nav .nav-item {
  margin-left: 70px;
}
.navbar-nav .nav-link {
  font-size: 21px;
  line-height: 32px;
  color: #010101;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  padding-left: 0;
  padding-right: 0;
}
.navbar-nav .nav-link:hover {
  border-bottom: 2px solid black;
}
.navbar-toggler {
  font-size: 0;
}
.navbar-toggler i:before {
  font-size: 32px;
}

.hero {
  background: #fcdb00;
}
.hero .carousel {
  min-height: 585px;
  padding: 0 40px;
}
@media (max-width: 576px) {
  .hero .carousel {
    min-height: 500px;
  }
}
.hero .carousel-indicators {
  bottom: 35px;
}
.hero .carousel-indicators li {
  background-clip: border-box;
  width: 15px;
  height: 5px;
  border-bottom: none;
  border-radius: 15px;
}
.hero .carousel-control-prev {
  width: 5%;
  left: -10px;
}
.hero .carousel-control-next {
  width: 5%;
  right: -10px;
}

.slide1__description {
  margin-top: 55px;
}
@media (max-width: 576px) {
  .slide1__description {
    margin-top: 0;
  }
}
.slide1__description p {
  padding-right: 50px;
}
.slide1__description small {
  padding-right: 50px;
  margin-bottom: 40px;
}
.slide1__description-icons a {
  color: black;
}
.slide1__description-icons a:hover {
  color: white;
}
.slide1__description-icons a i {
  font-size: 0;
  margin: 0 35px 0 0;
}
.slide1__description-icons a i:before {
  font-size: 46px;
}
@media (max-width: 576px) {
  .slide1__description-icons a i:before {
    font-size: 24px;
  }
}
.slide1__image {
  padding: 5px;
  display: flex;
}
@media (max-width: 576px) {
  .slide1__image {
    display: none;
  }
}
.slide1__image img {
  margin-left: 50px;
}
@media (max-width: 990px) {
  .slide1__image img {
    margin-left: 0;
  }
}

.slide2 {
  text-align: center;
  margin: 150px 0 0 0;
}
@media (max-width: 576px) {
  .slide2 {
    margin: 50px 0 0 0;
  }
}
.slide2__description {
  margin: 0 0 20px;
}
.slide2__description-items a {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 35px;
  color: black;
  margin: 0 25px;
  text-decoration: none;
}
@media (max-width: 576px) {
  .slide2__description-items a {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px;
  }
}
.slide2__description-items a:hover {
  background: black;
  color: #fcdb00;
}
.slide2__description-items a i {
  font-size: 0;
}
.slide2__description-items a i:before {
  font-size: 50px;
}
@media (max-width: 576px) {
  .slide2__description-items a i:before {
    font-size: 24px;
  }
}

.slide3 {
  text-align: center;
  margin: 150px 0 0 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

main {
  padding: 70px 0 15px;
}
main h2 {
  margin-bottom: 0;
}
main .features {
  text-align: center;
  margin-bottom: 50px;
}
main .features__headline {
  padding: 25px 0;
  margin-bottom: 35px;
}
main .features__headline h1 {
  margin: 15px 0;
}
main .features__list {
  padding: 10px 0;
  text-align: left;
  line-height: 11;
}
@media (max-width: 576px) {
  main .features__list {
    text-align: center;
  }
}
main .features__list small {
  color: #898989;
}
main .features__list i {
  font-size: 0;
  text-align: center;
  display: block;
  color: #010101;
}
main .features__list i:before {
  font-size: 50px;
}
@media (max-width: 576px) {
  main .features__list i:before {
    font-size: 36px;
  }
}
main .features2__list {
  text-align: left;
  justify-content: center;
  display: flex;
  line-height: 11;
  margin-bottom: 10px;
}

.footer {
  padding: 80px 0;
  background: black;
}
.footer__title {
  padding: 15px 0;
  text-align: center;
  margin-bottom: 15px;
}
.footer__title h1 {
  color: #fcdb00;
  margin: 0 0 15px 0;
}
.footer__title p {
  color: #898989;
  margin-bottom: 0;
}
.footer__input {
  padding: 10px 0;
  margin-bottom: 50px;
}
.footer__input-message {
  padding: 0 100px;
}
@media (max-width: 576px) {
  .footer__input-message {
    padding: 0 30px;
  }
}
.footer__input-message .form {
  display: flex;
  min-width: 300px;
  justify-content: center;
}
.footer__input-message .form input {
  border: 0;
  padding: 13px;
  outline: 0;
  height: 51px;
  border-radius: 5px;
}
.footer__input-message .form button {
  width: 150px;
  margin-left: 10px;
  background: #fff;
  border: 0;
  outline: 0;
  height: 50px;
  color: #010101;
  font-weight: 700;
  border-radius: 5px;
}
.footer__input-message .form button:hover {
  background: #fcdb00;
}
.footer__social {
  text-align: center;
  margin: 0 auto 100px;
  padding: 15px 0;
}
.footer__social a {
  text-decoration: none;
  color: #fff;
}
.footer__social a i {
  font-size: 0;
  margin: 0 20px;
}
.footer__social a i:hover {
  color: #fcdb00;
}
.footer__social a i:before {
  font-size: 42px;
}
@media (max-width: 576px) {
  .footer__social a i:before {
    margin: 0 10px;
  }
}
.footer__nav {
  padding: 10px 0;
  line-height: 1.4;
}
.footer__nav a, .footer__nav address {
  display: block;
  color: #fff;
}
.footer__nav a:hover {
  color: #fcdb00;
  text-decoration: none;
}