body {
  margin: 0;
  min-width: 320px;
  font: 14px/1.5 "Source Sans Pro", sans-serif;
}

button, input, label {
  cursor: pointer;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

.container {
  max-width: 960px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  color: #010101;
  line-height: 34px;
  text-align: center;
}

h4 {
  font-size: 32px;
  line-height: 18px;
  color: #010101;
  font-weight: 700;
}
@media (max-width: 576px) {
  h4 {
    font-size: 24px;
  }
}

.header {
  background: #fcdb00;
  padding: 50px 0 10px;
}
.header .container .navbar {
  padding: 10px 0;
  margin: 0 0 15px 0;
}
.header .container .navbar.sticky {
  position: fixed;
  width: 100%;
  box-shadow: 3px 1px 0.99px 0.01px rgba(0, 0, 0, 0.05);
  padding: 0 50px;
  background: #fcdb00;
  left: 0;
  top: 0;
  z-index: 2;
}
.header .container .navbar.sticky a {
  font-size: 18px;
}
.header .container .navbar-brand {
  font-size: 0;
  line-height: 20px;
  color: #010101;
  font-weight: 700;
}
.header .container .navbar-brand img {
  margin: 0 10px 0 0;
}
.header .container .navbar-nav .nav-item {
  margin: 0 0 0 60px;
}
.header .container .navbar-nav .nav-link {
  font-size: 22px;
  line-height: 20px;
  color: #010101;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.header .container .navbar-nav .nav-link:hover {
  border-bottom: 2px solid black;
}
.header .container .navbar-toggler {
  font-size: 0;
}
.header .container .navbar-toggler i:before {
  font-size: 32px;
}

.hero {
  background: #fcdb00;
}
.hero .container .carousel {
  min-height: 600px;
  padding: 0 40px;
}
@media (max-width: 576px) {
  .hero .container .carousel {
    min-height: 500px;
  }
}
.hero .container .carousel-indicators {
  bottom: 20px;
}
.hero .container .carousel-indicators li {
  background-clip: border-box;
  width: 15px;
  height: 5px;
  border-bottom: none;
  border-radius: 15px;
}
.hero .container .carousel-control-prev {
  width: 5%;
  left: -10px;
}
.hero .container .carousel-control-next {
  width: 5%;
  right: -10px;
}
.hero .container .carousel-item .slide1__description h1 {
  margin: 0 0 30px 0;
  line-height: 1;
  font-size: 32px;
  color: #010101;
  font-weight: 700;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide1__description h1 {
    font-size: 24px;
  }
}
.hero .container .carousel-item .slide1__description p {
  font-size: 20px;
  line-height: 24px;
  color: #313841;
  font-weight: 400;
  margin: 0 0 20px 0;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide1__description p {
    font-size: 16px;
  }
}
.hero .container .carousel-item .slide1__description small {
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  font-weight: 400;
  margin: 0 0 35px 0;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide1__description small {
    font-size: 14px;
  }
}
.hero .container .carousel-item .slide1__description-icons {
  margin: 20px 0 0;
}
.hero .container .carousel-item .slide1__description-icons a {
  color: black;
}
.hero .container .carousel-item .slide1__description-icons a i {
  font-size: 0;
  margin: 0 35px 0 0;
}
.hero .container .carousel-item .slide1__description-icons a i:before {
  font-size: 46px;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide1__description-icons a i:before {
    font-size: 24px;
  }
}
.hero .container .carousel-item .slide1__image {
  padding: 20px;
  text-align: center;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide1__image {
    display: none;
  }
}
.hero .container .carousel-item .slide2 {
  text-align: center;
  margin: 150px 0 0 0;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide2 {
    margin: 50px 0 0 0;
  }
}
.hero .container .carousel-item .slide2__description {
  margin: 0 0 20px;
}
.hero .container .carousel-item .slide2__description h1 {
  margin: 0 0 30px 0;
  font-size: 32px;
  line-height: 1;
  color: #010101;
  font-weight: 700;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide2__description h1 {
    font-size: 24px;
  }
}
.hero .container .carousel-item .slide2__description small {
  font-size: 16px;
  line-height: 20px;
  color: #555555;
  font-weight: 400;
  margin: 0 0 35px 0;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide2__description small {
    font-size: 14px;
  }
}
.hero .container .carousel-item .slide2__description-items a {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 35px;
  color: black;
  margin: 0 25px;
  text-decoration: none;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide2__description-items a {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px;
  }
}
.hero .container .carousel-item .slide2__description-items a:hover {
  background: black;
  color: #fcdb00;
}
.hero .container .carousel-item .slide2__description-items a i {
  font-size: 0;
}
.hero .container .carousel-item .slide2__description-items a i:before {
  font-size: 50px;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide2__description-items a i:before {
    font-size: 24px;
  }
}
.hero .container .carousel-item .slide3 {
  text-align: center;
  margin: 150px 0 0 0;
}
.hero .container .carousel-item .slide3__title h1 {
  margin: 0 0 50px 0;
  font-size: 32px;
  color: #010101;
  font-weight: 700;
}
@media (max-width: 576px) {
  .hero .container .carousel-item .slide3__title h1 {
    font-size: 24px;
  }
}

main .container .features {
  padding: 110px 0;
  text-align: center;
  margin: 0 0 50px 0;
}
main .container .features h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #010101;
}
main .container .features__headline p {
  color: #898989;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 20px 0 70px;
}
@media (max-width: 576px) {
  main .container .features__headline p {
    font-size: 16px;
  }
}
main .container .features__list i {
  font-size: 0;
  text-align: center;
  display: block;
  color: #010101;
}
main .container .features__list i:before {
  font-size: 50px;
}
@media (max-width: 576px) {
  main .container .features__list i:before {
    font-size: 36px;
  }
}
main .container .features__list p {
  padding: 13px 0 80px;
}
main .container .features2__list {
  text-align: left;
}

.footer {
  padding: 90px 0;
  background: black;
}
.footer__title h4 {
  color: #fcdb00;
  text-align: center;
  margin: 0 0 30px 0;
}
@media (max-width: 576px) {
  .footer__title h4 {
    font-size: 24px;
  }
}
.footer__title p {
  margin-bottom: 3rem;
  text-align: center;
  color: white;
}
.footer__input-message {
  max-width: 740px;
  width: 100%;
  display: block;
  margin: 0 auto 70px;
  text-align: center;
}
.footer__input-message input {
  width: 78%;
  background: #fff;
  border: 0;
  padding: 13px;
  outline: 0;
  height: 51px;
  border-radius: 5px;
}
@media (max-width: 990px) {
  .footer__input-message input {
    width: 65%;
  }
}
.footer__input-message button {
  width: 135px;
  margin-left: 10px;
  background: #fff;
  border: 0;
  outline: 0;
  height: 52px;
  line-height: 49px;
  color: #010101;
  font-weight: 700;
  border-radius: 5px;
}
.footer__input-message button:hover {
  background: #fcdb00;
}
@media (max-width: 990px) {
  .footer__input-message button {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .footer__input-message button {
    width: 75px;
  }
}
.footer__social {
  text-align: center;
  margin: 0 auto 110px;
}
.footer__social a {
  text-decoration: none;
  color: #fff;
}
.footer__social a i {
  font-size: 0;
  margin: 0 20px;
}
.footer__social a i:hover {
  color: #fcdb00;
}
.footer__social a i:before {
  font-size: 42px;
}
@media (max-width: 576px) {
  .footer__social a i:before {
    margin: 0 10px;
  }
}
.footer__nav a, .footer__nav address {
  display: block;
  color: #fff;
}
.footer__nav a:hover {
  color: #fcdb00;
  text-decoration: none;
}