@mixin tablet {
	@media (max-width: 990px) { @content; }
}
@mixin mobile {
	@media (max-width: 576px) { @content; }
}

body {
	margin: 0;
	min-width: 320px;
	font: 14px/1.5 'Source Sans Pro', sans-serif;
}

button, input, label {
	cursor: pointer;
}

input:invalid:not(:placeholder-shown) {
	border-color: red;
}

input:valid:not(:placeholder-shown) {
	border-color: green;
}

input:invalid {
	border-color: red;
}

input:valid {
	border-color: green;
}

.container{
	max-width: 960px;
}

h2 {
	font-weight: 700;
	font-size: 32px;
	color: #010101;
	line-height: 34px;
	text-align: center;
}

h4 {
	font-size: 32px;
	line-height: 18px;
	color: #010101;
	font-weight: 700;
	@include mobile {
		font-size: 24px;
	}
}

.header {
	background: #fcdb00;
	padding: 50px 0 10px;
	.container {
		.navbar {
			padding: 10px 0;
			margin: 0 0 15px 0;
			&.sticky {
				position: fixed;
				width: 100%;
				box-shadow: 3px 1px 0.99px 0.01px rgba(0, 0, 0, .05);
				padding: 0 50px;
				background: #fcdb00;
				left: 0;
				top: 0;
				z-index: 2;
				a {
					font-size: 18px;
				}
			}
			&-brand {
				font-size: 0;
				line-height: 20px;
				color: #010101;
				font-weight: 700;
				img {
					margin: 0 10px 0 0;
				}
			}
			&-nav{
				.nav {
					&-item {
						margin: 0 0 0 60px;
					}
					&-link {
						font-size: 22px;
						line-height: 20px;
						color: #010101;
						font-weight: bold;
						border-bottom: 2px solid transparent;
						&:hover {
							border-bottom: 2px solid black;
						}
					}
				}
			}
			&-toggler{
				font-size: 0;
				i {
					&:before {
						font-size: 32px;
					}
				}
			}
		}
	}
}

.hero {
	background: #fcdb00;
	.container {
		.carousel {
			min-height: 600px;
			padding: 0 40px;
			@include mobile {
				min-height: 500px;
			}
			&-indicators {
				bottom: 20px;
				li {
					background-clip: border-box;
					width: 15px;
					height: 5px;
					border-bottom: none;
					border-radius: 15px;
				}
			}
			&-control {
				&-prev {
					width: 5%;
					left: -10px;
				}
				&-next {
					width: 5%;
					right: -10px;
				}
			}
			&-item{
				.slide1 {
					&__description {
						h1 {
							margin: 0 0 30px 0;
							line-height: 1;
							font-size: 32px;
							color: #010101;
							font-weight: 700;
							@include mobile {
								font-size: 24px;
							}
						}
						p {
							font-size: 20px;
							line-height: 24px;
							color: #313841;
							font-weight: 400;
							margin: 0 0 20px 0;
							@include mobile {
								font-size: 16px;
							}
						}
						small {
							font-size: 16px;
							line-height: 20px;
							color: #555555;
							font-weight: 400;
							margin: 0 0 35px 0;
							@include mobile {
								font-size: 14px;
							}
						}
						&-icons {
							margin: 20px 0 0;
							a {
								color: black;
								i {
									font-size: 0;
									margin: 0 35px 0 0;
									&:before {
										font-size: 46px;
										@include mobile {
											font-size: 24px;
										}
									}
								}
							}
						}
					}
					&__image {
						padding: 20px;
						text-align: center;
						@include mobile {
							display: none;
						}
					}
				}
				.slide2 {
					text-align: center;
					margin: 150px 0 0 0;
					@include mobile {
						margin: 50px 0 0 0;
					}
					&__description {
						margin: 0 0 20px;
						h1 {
							margin: 0 0 30px 0;
							font-size: 32px;
							line-height: 1;
							color: #010101;
							font-weight: 700;
							@include mobile {
								font-size: 24px;
							}
						}
						small {
							font-size: 16px;
							line-height: 20px;
							color: #555555;
							font-weight: 400;
							margin: 0 0 35px 0;
							@include mobile {
								font-size: 14px;
							}
						}
						&-items {
							a {
								width: 70px;
								height: 70px;
								border: 2px solid black;
								border-radius: 35px;
								color: black;
								margin: 0 25px;
								text-decoration: none;
								@include mobile {
									width: 40px;
									height: 40px;
									border-radius: 20px;
									margin: 0 10px;
								}
								&:hover {
									background: black;
									color: #fcdb00;
								}
								i {
									font-size: 0;
									&:before {
										font-size: 50px;
											@include mobile {
												font-size: 24px;
											}
									}
								}
							}
						}
					}
				}
				.slide3 {
					text-align: center;
					margin: 150px 0 0 0;
					&__title {
						h1 {
							margin: 0 0 50px 0;
							font-size: 32px;
							color: #010101;
							font-weight: 700;
							@include mobile {
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}
}

main {
	.container {
		.features {
			padding: 110px 0;
			text-align: center;
			margin: 0 0 50px 0;
			h3 {
				font-size: 22px; 
				line-height: 24px; 
				font-weight: 700; 
				color:#010101;
			}
			&__headline {
				p {
					color:#898989;
					font-size: 20px;
					line-height: 24px;
					text-align: center;
					margin: 20px 0 70px;
					@include mobile {
						font-size: 16px;
					}
				}
			}
			&__list {
				i {
					font-size:0; 
					text-align:center; 
					display:block; 
					color:#010101;
					&:before {
						font-size: 50px;
						@include mobile {
							font-size: 36px;
						}
					}
				}
				p {
					padding:13px 0 80px;
				}
			}
		}
		.features2 {
			&__list {
				text-align: left;
			}
		}
	}
}

.footer {
	padding: 90px 0;
	background: black;
	&__title {
		h4 {
			color: #fcdb00;
			text-align: center;
			margin: 0 0 30px 0;
			@include mobile {
				font-size: 24px;
			}
		}
		p {
			margin-bottom: 3rem;
			text-align: center;
			color: white;
		}
	}
	&__input {
		&-message {
			max-width:740px; 
			width:100%; 
			display:block; 
			margin:0 auto 70px;
			text-align: center;
			input {
				width:78%; 
				background:#fff; 
				border:0; 
				padding:13px; 
				outline:0; 
				height:51px;
				border-radius: 5px;
				@include tablet {
					width: 65%;
				}
			}
			button {
				width:135px; 
				margin-left:10px; 
				background:#fff; 
				border:0; 
				outline:0; 
				height:52px; 
				line-height:49px; 
				color:#010101; 
				font-weight:700;
				border-radius: 5px;
				&:hover {
					background:#fcdb00;
				}
				@include tablet {
					width: 100px;
				}
				@include mobile {
					width: 75px;
				}
			}
		}
	}
	&__social {
		text-align: center;
		margin:0 auto 110px;
		a {
			text-decoration: none;
			color:#fff;
			i {
				font-size: 0;
				margin: 0 20px;
				&:hover {
					color: #fcdb00 ;
				}
				&:before {
					font-size: 42px;
					@include mobile {
						margin: 0 10px;
					}
				}
			}
		}
	}
	&__nav{
		a, address {
			display:block; 
			color:#fff;
		}
		a {
			&:hover {
				color: #fcdb00;
				text-decoration: none;
			}
		}
	}
}


